.container {
  margin-top: 99px;
  display: flex;
  align-items: center;
  flex-direction: row;
  align-items: center;
  column-gap: 56px;
}
.containerBottom p {
  font-weight: 400;
  font-size: 16px;
}
.mainContainer {
  display: flex;
  flex-direction: column;
  color: #ffffff;
}
.containerBottom {
  display: flex;
  column-gap: 84px;
  justify-content: space-between;
}
.spanImgContainer {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}
.imgContainer {
  display: flex;
  align-items: center;
  column-gap: 16px;
}
.imgContainer span {
  white-space: nowrap;
}
.imgContainer2 {
  display: flex;
  align-items: center;
}
.spanImgContainer > span:first-of-type {
  font-weight: 700;
  font-style: 36px;
}

.imgContainer span {
  font-weight: 300;
  font-style: 36px;
}

.mediaContainer {
  display: none;
}

@media (max-width: 390px) {
  .container {
    display: none;
  }
  .mediaContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .imgContainer2 {
    display: none;
  }
  .containerBottom p {
    display: none;
  }
  .mainContainer {
    display: flex;
  }
  .spanImgContainer span {
    display: none;
  }
  .spanContainer {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    text-align: center;
    margin-top: 60px;
    gap: 16px;
  }
  .sliderContainer {
    display: flex;
    align-items: center;
    margin-top: 40px;
  }
  .spanContainer span:first-child {
    font-weight: 700;
    font-style: 26px;
  }
}
