.headerContainer {
  display: flex;
  align-items: center;
}

.styled_link {
  color: #ffffff;
  font-weight: 700;
  font-size: 12px;
  text-decoration: none;
}
.headerImages {
  display: flex;
  align-items: center;
}
.linkContainer {
  display: flex;
  column-gap: 40px;
  margin-left: 190px;
}
.linkContainer a:last-child {
  white-space: nowrap;
}

.headerContactContainer {
  display: flex;
  column-gap: 35px;
  margin-left: 120px;
}
.group {
  margin-left: 15px;
}
.headerContact {
  width: 150px;
  height: 48px;
  border: 2px solid #ffffff;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.headerContact a {
  font-weight: 700;
  font-size: 12px;
  color: #ffffff;
  text-decoration: none;
}

.joinHydra {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 48px;
  border-radius: 40px;
  border: none;
  font-weight: 700;
  font-size: 12px;
  background: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
}
.joinHydra a {
  text-decoration: none;
  color: #343045;
}

.buttonOpenNavLink {
  display: none;
}

@media (max-width: 390px) {
  .styled_link {
    display: none;
  }

  .headerContactContainer {
    display: none;
  }
  .buttonOpenNavLink {
    width: 33px;
    height: 26px;
    display: block;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
    background-color: #343045;
    border: none;
  }
  .headerContainer {
    column-gap: 190px;
  }
  .vector {
    width: 69px;
    height: 59px;
  }
  .group {
    width: 46px;
    height: 28px;
  }
}
