.container {
  display: flex;
  align-items: flex-end;
}
.container a {
  text-decoration: none;
}

.headerTextDiv {
  font-weight: 700;
  font-size: 40px;
  color: #ffffff;
}
.textDive {
  background: linear-gradient(91.57deg, #c0b7e8 -1.02%, #8176af 36.25%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.virtual {
  background: linear-gradient(91.57deg, #c0b7e8 -1.02%, #8176af 36.25%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.textLorem {
  margin-top: 36px;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
}
.imgRight {
  margin-top: 98px;
  margin-left: 220px;
}

.textShapeDiv {
  background: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
  border: none;
  border-radius: 40px;
  padding: 17px 43px 16px 38px;
  font-weight: 700;
  font-size: 12px;
}

.textShape {
  display: flex;
  align-items: center;
  column-gap: 40px;
  margin-top: 66px;
  color: #343045;
}

.img {
  border-radius: 100px 100px 100px 240px;
}

.textLeftContainer {
  margin-top: 146px;
  display: flex;
  flex-direction: column;
  background-image: url("../../img//productSectionImg/pattern4.png");
  background-repeat: no-repeat;
}
.mediaImg {
  display: none;
}

@media (max-width: 390px) {
  .container {
    flex-direction: column;
  }
  .img {
    width: 340px;
    height: 296px;
  }
  .imgRight {
    order: -1;
    margin-top: 54px;
  }
  .textLorem {
    display: none;
  }
  .headerTextDiv {
    margin-top: -150px;
    display: flex;
    justify-content: center;
  }
  .imgShape {
    display: none;
  }
  .textShape {
    margin-top: 36px;
    display: flex;
    justify-content: center;
  }
  .textShapeDiv {
    margin-left: 50px;
  }
  .headerText {
    display: none;
  }
  .mediaImg {
    display: block;
    margin-top: 30px;
  }
}
